@font-face {
    font-family: 'Variable';
    src: local('Variable Bold'), local('Variable-Bold'),
        url('Variable-Bold.woff2') format('woff2'),
        url('Variable-Bold.woff') format('woff'),
        url('Variable-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }